body {
    background: tomato;
}

#example {
    font-size: 2rem;
    color:ghostwhite;
    font-family:  'Chela One', cursive;
    float: left;
    width: 350px;
}

h1 {
    font-family: 'Indie Flower', cursive;
    color: honeydew
}

#dislikes {
    font-size: 2rem;
    color: ghostwhite;
    font-family: 'Chela One', cursive;
    float: left;
    width: 350px;
}
a:hover {
    opacity:50%;
    color:white;
}
a:hover:visted {
    opacity:50%;
    color:white;
}


#animation {
    animation-name: appear;
    animation-duration: 10s;
    float:right;
    width:400px;
}

@keyframes appear {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    50% {
        transform: scale(.5);
        opacity: .5;
    }  
    100% {
        transform: scale(.75);
        opacity: 1;
    }
}
#that{
    font-family:  'Indie Flower', cursive;
    color: honeydew
}
img {
 max-width: 100%;
 height: auto;
}