body {
    background:maroon;
}
#example{
    font-size: 5rem;
    color: black;
    font-family:'Times New Roman', Times, serif
}
#dislikes{ 
    font-size: 7rem;
    color:black;
    font-family:'Times New Roman', Times, serif
}
/* TODO: Be carefult to include a semi-colon (;) after every property, because the styles are broken if you don't. */
#Villanova{
    width:25ch
    padding:3em;
    float:right;





}