body {
    background: tomato;
}

#example {
    font-size: 2rem;
    color:ghostwhite;
    font-family:  'Chela One', cursive;
    float: left;
}

h1 {
    font-family: 'Indie Flower', cursive;
    color: honeydew
}

#dislikes {
    font-size: 2rem;
    color: ghostwhite;
    font-family: 'Chela One', cursive;
    float: left;
}
a:hover {
    opacity:50%;
    color:white;
}
a:hover:visted {
    opacity:50%;
    color:white;
}

#animation {
    width: 50%;
    float: right;
}

#animation {
    animation-name: appear;
    
    animation-duration: 10s;
}

@keyframes appear {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    50% {
        transform: scale(.5);
        opacity: .5;
    }  
    100% {
        transform: scale(.75);
        opacity: 1;
    }
}
#that{
    font-family:  'Indie Flower', cursive;
    color: honeydew
}